{% extends "login/base.html" %}
{% load static %}
{% block title %}Register{% endblock title %}
{% block cssblock %}
        <link rel="stylesheet" href="{% static 'login/css/register.css' %}" />
{% endblock cssblock %}
{% block login_content %}
<div class="register-form-wrapper">
    <h3 class="form-title">New Person?</h3>
    <p class="form-desc"><i>Register now📝</i></p>
    <form action="" method="post" class="form-wrapper">
        {% csrf_token %}
        <input type="text" name="username" class="input-box" placeholder="Username"/>
        <input type="email" name="email" class="input-box" placeholder="Email"/>
        <input type="password" name="password" class="input-box" placeholder="Password"/>
        <input type="password" name="confirm-password" class="input-box" placeholder="Confirm-password"/>
        <input type="submit" value="Register" class="button button-submit"/>
    </form>
    <a href="{% url 'login:login' %}" class="button button_login">Back to Login</a>
</div>
{% endblock login_content %}
{% block jsblock %}
{#    <script src="{% static 'login/js/login.js' %}"></script>#}
{% endblock jsblock %}